<section class="body">
    <div class="block logo">
        <p class="shap"> 
            <span class="cut">
                <span class="circle"> </span>
            </span>
        </p>
        <p class="text"> c<span>o</span>feed </p>
    </div>
    <div class="block menu">
        <h2> menu</h2>
        <ul>
            <li> <a routerLink="home"          routerLinkActive="active_a"> <i class="fas fa-home"          routerLinkActive="active_icon"></i>    home        </a>  </li>
            <li>  <a routerLink="messages"  routerLinkActive="active_a"> <i class="fas fa-comment-dots" routerLinkActive="active_icon"></i>   messages    </a>  </li>
            <li>  <a routerLink="profile"   routerLinkActive="active_a"> <i class="fas fa-user"         routerLinkActive="active_icon"></i>             profile     </a>  </li>
            <li>  <a routerLink="saved_post"routerLinkActive="active_a"> <i class="fas fa-bookmark"     routerLinkActive="active_icon"></i>         saved post  </a>  </li>
            <li> <a routerLink="sittings"  routerLinkActive="active_a"> <i class="fas fa-cog"           routerLinkActive="active_icon"></i>               settings    </a>  </li>
        </ul> 
    </div>

    <div class="block account" >
        <h2 class="title"> account  <i class="fas fa-angle-down"></i> </h2>
        <div class="person">
            <div class="cont_img">
                <img src="../../../assets/imgs/persons/employee-img1.png" alt="">
            </div>
            <div class="info">
                <h3> michael </h3>
                <p> @michaelsco_ </p>
            </div>
        </div>
        
        <div class="get_coffed">
            <div class="cont_img">
                <img src="../../../assets/imgs/get coffed/img.PNG" alt="">
            </div>
        </div>
    </div>
</section>
