<section class="body">
    <div class="block logo">
        <p class="shap"> 
            <span class="cut">
                <span class="circle"> </span>
            </span>
        </p>
        <p class="text"> c<span>o</span>feed </p>
    </div>
    <div class="block menu">
        <h2> menu</h2>
        <ul>
            <li> <i class="fas fa-home active_icon"></i>         <a href="#" class="active_a">  home        </a>  </li>
            <li> <i class="fas fa-comment-dots"></i>             <a href="#">  messages    </a>  </li>
            <li> <i class="fas fa-user"></i>                     <a routerLink="content">  profile     </a>  </li>
            <li> <i class="fas fa-bookmark"></i>                 <a href="#">  saved post  </a>  </li>
            <li> <i class="fas fa-cog"></i>                      <a href="#">  settings    </a>  </li>
        </ul> 
    </div>

    <div class="block account" >
        <h2 class="title"> account  <i class="fas fa-angle-down"></i> </h2>
        <div class="person">
            <div class="cont_img">
                <img src="../../../assets/imgs/persons/employee-img1.png" alt="">
            </div>
            <div class="info">
                <h3> michael </h3>
                <p> @michaelsco_ </p>
            </div>
        </div>
        
        <div class="get_coffed">
            <div class="cont_img">
                <img src="../../../assets/imgs/get coffed/img.PNG" alt="">
            </div>
        </div>
    </div>
</section>
